src/main/resources/pokemon.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pokemon.com/app"
           xmlns="http://pokemon.com/app"
           elementFormDefault="qualified">

    <xs:element name="GetPokemonsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPokemonsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemon" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
